<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Interface</title>
    <link rel="stylesheet" href="/App/static/styles.css">
</head>
<body>
    <div class="header-container">
        <!-- Logo và Tiêu đề bên trái -->
        <div class="left-section">
            <img src="logo.png" alt="Logo" class="logo">
            <h1 class="page-title">Sản phẩm đồ án tốt nghiệp</h1>
        </div>
    
        <!-- Các nút và biểu tượng bên phải -->
        <div class="right-section">
            <img src="client.png"  class="icon">
        </div>
    </div>

</body>
</html>

 